BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  BeforeElse: true
  BeforeCatch: true

DerivePointerAlignment: false
PointerAlignment: Left
